.homePage {
    background-color: rgb(199, 255, 255);
    padding: 20px;
}
.sliderContainer {
    margin-bottom: 20px;
}
  
.offersSection {
    margin-bottom: 40px;
}
  
.bestSellersSection {
    margin-bottom: 40px;
}
  
.customerReviewsSection {
    margin-bottom: 40px;
}
  
  